.Container {
    display: flex;
    flex-direction: column;
    flex: 0 0 200px;
    border: 1px solid red;
    justify-content: space-between;
    z-index: 2;

   
}

.LogoBox {
    border: 1px solid green;
}

.LinksBox {
    border: 1px solid blue;
}